@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;900&display=swap');

/* Body and structure*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    background-color: white;
    color: black;
    font-style: normal;
    font-weight: 300;
}
.h5 {
    text-align: center;
}
.p {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.p2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

#top-panel{
    padding: 5px 100px;
    width: 100%;
    height: 400px;
    background-color: #AEABED;
    margin: auto;
}
#bottom-panel{
    background-color: white;
}
.my-image {
    width: 200px;
    height: 200px;
}
/* Containers */
.container {
    padding: 20px 150px;
}
.containerd{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 100px;
}


/* rows and columns */
.row featurette {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;
}
.column {
    flex: 80%;
    margin: 2px;
    padding: 10px;
}
.secondcolumn {
    flex: 20%;
}

hr:not([size]) {
    height: 1px;
}
    
.featurette-divider {
    margin: 5rem 0;
}
hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: .25;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.containerex {
    width: 100%;
    height: auto;
    background-color: transparent;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}
.box {
    width: 300px;
    height: 150px;
    background: transparent;
    margin: 20px;
    font-size: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    width: 30%;
    background: white;
    border: 1px solid grey;
    margin-bottom: 50px;
    transition: 0.3s;
}
.card-header {
    text-align: center;
    padding: 50px 10px;
    background: linear-gradient(to right, #B3B2EE, #BBF2FE);
    color: #3F4A56;
}
.card-body {
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
}  
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px #3F4A56;
}


@media (max-width:1200px) {
    .box {
        width: 30%;
    }
}
@media (max-width: 768px) {
    .box {
        padding: 15px;
        width: 90%;
    }
    #top-panel {
        width: 100%;
        height: fit-content;
    }
    .card {
        width: 90%;
      }
}
@media (max-width:600px) {
    #top-panel {
        width: 100%;
        height: fit-content;
    }
    .box {
        padding: 20px;
        width: 90%;
    }
}
@media screen and (max-width: 620px) {
    .card {
      width: 90%;
    }
}

/* header, navigation and menu */
.header{
    width: 100%;
    height: 100px;
    display: block;
    background-color: #AEABED;
}
.inner_header{
    width:fit-content;
    height: 100%;
    display: block;
    margin: 0 auto;
}
#logo {
    width: 90px;
    height: 90px;
}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}
.logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}
.logo_container h1 span{
    font-weight: 500;
}

.navbar ul {
    display: flex;
    width:100%;
    align-items: center;
    background-color: #AEABED;
    color: white;
}
.navbar li {
    list-style-type: none;
    padding: 1rem;

    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    transition: .5s;
}
.navbar a {
    text-decoration: none;
    color: white;
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}
.navbar a:last-child {
    padding-right: 0;
}
.navbar-logo {
    font-size: 2rem;
    user-select: none;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}
.navbar-toggle {
    display: none;
}
.navbar-toggle:hover {
    background-color: turquoise;
}
.navbar-links:hover {
    background-color: turquoise;
}
.navbar-links:hover a {
    color: black;
}

@media (max-width: 640px) {
    .header{
        width: 100%;
    }
    #logo {
        display: none;
    }
    .logo_container h1{
        font-weight: 900;
        height: 60%;
        font-size: 40px;
    }
    .logo_container h1 span{
        font-weight: 500;
    }
    .navbar ul {
        flex-wrap: wrap;
        width: fit-content;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-links {
        display: none;
        width: 100%;
        text-align: center;
    }
    .active {
        display: block;
    }
}


/* carousel */
.carousel-item {
    height: 32 rem;
    background: #AEABED;
    color: white; 
    position: relative; 
    align-items: center;  
}
.carousel-item img {
    max-height: 400px;
    object-fit: cover;
}
.carousel h4 {
    font-weight: 700;
    font-size: 30px;
}
.carousel p {
    font-weight: 500;
    font-size: 20px;
}
.carousellm {
    text-align: left;
}
.carouselr {
    text-align: right;
}
@media screen and (max-width: 480px) {
    .carousel-item img {
        max-height: 200px;
    }
}

/* buttons */
.button {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-decoration: none;
    background-color: white;
    color: #53616F;
    border-style: outset;
    border-color: #CDC4F5;
    border-radius: 20px;
    padding: 20px;
    transform: 30px;
    transition: 0.8s;
}
.button:hover {
    background-color: #CDC4F5;
    color: #5b6672;
    transition: 0.8s;
    border-radius: 18px;
    padding: 18px;
    transform: 25px;
    text-decoration: none;
}
.button_sm {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-decoration: none;
    border-style:outset;
    border-color: #BBF3FE;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    transform: 30px;
    transition: 0.8s;
}
.button_sm:hover {
    text-decoration: none;
    border-style: outset;
    border-color: #BBF3FE;
    background-color: #BBF3FE;
    transition: 0.8s;
    border-radius: 18px;
    padding: 18px;
    transform: 25px;
    text-decoration: none;
}

/* Scroll buttons */
#back-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
    width: 70px;
    height: 70px;
    background-color: white;
    color: #b0a4e4;
    cursor: pointer;
    outline: none;
    border: 3px solid #b0a4e4;
    border-radius: 70%;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: backgroud-color, color;
}
#back-to-top-btn:hover, #back-to-top-btn:focus {
    background-color: #b0a4e4;
    color: white;
}

@media(max-width:992px) {
    .container { padding: 20px 100px;}
    #back-to-top-btn { font-size: 30px; width: 50px; height: 50px;  bottom: 20px; right: 20px;}
}
@media (max-width:768px) {
    body { font-size: 17px; }
    .container { padding: 10px 50px; }
    h1 { font-size: 28px;}
    h2 { font-size: 24px;}
    hr { margin: 30px 0;}
    #back-to-top-btn { font-size: 30px; width: 40px; height: 40px; bottom: 16px; right: 16px;}
}
@media (max-width:640px) {
    body { font-size: 16px; }
    .container { padding: 10px 50px; }
    h1 { font-size: 26px;}
    h2 { font-size: 22px;}
    hr { margin: 30px 0;}
    #back-to-top-btn { font-size: 28px; width: 38px; height: 38px; bottom: 14px; right: 14px;}
}

/* Animations */
.btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
  }
  
  /* fadeInUp */
  @keyframes btnEntrance {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  .btnExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;  
    animation-name: btnExit;
  }
  
  /* fadeOutDown */
  @keyframes btnExit {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  }

/* Heading and text */
h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 40px;
}
.text {
    text-align: right;
    padding-left: 80px;
    padding-bottom: 50px;
    color: black;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}
.othertext {
    text-align: left;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    color: black;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}
