<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/example.css">
    <link rel="stylesheet" href="../views/listenme.html">
    <link rel="stylesheet" href="../index.html">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header-ex">
            <div class="inner_header-ex">
                <div class="logo_container-ex">
                    <img src="../assets/bravelogoedit.png" alt="logo" id="logo-ex">
                    <h1>API | <span>Ejemplo</span></h1>
                </div>
                <ul class="navigation-ex">
                    <a href="../index.html"><li>Home</li></a>
                    <a href="../views/listenme.html"><li>ListenMe</li></a>
                    <a href="../views/mail.html"><li>Contact Us</li></a>
                </ul>
            </div>
        </div>
    </header>

    <div id="data" class="centered"></div>


    <script src="../scripts/example.js"></script>
</body>
</html>