<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ListenMe</title>
    <link rel="stylesheet" href="../index.html">
    <link rel="stylesheet" href="../style/listenme.css">
    <link rel="stylesheet" href="../views/">
</head>
<body class="body">
    <header>
        <div class="headerlm">
            <div class="inner_headerlm">
                <div class="logolm_container">
                    <img src="../assets/listenmeedit.png" alt="logo" id="logolm">
                    <h1>Listen<span>Me</span></h1>
                </div>
                <ul class="navigationlm">
                    <a href="../index.html"><li>Home</li></a>
                    <a href="../views/example.html"><li>Example API</li></a>
                    <a href="#listenme"><li>ListenMe</li></a>
                    <a href="../views/mail.html"><li>Contact Us</li></a>
                </ul>
            </div>
        </div>
    </header>
    <a name="listenme" id="listenme"></a>
    <h2 class="title">ListenMe</h2>
    <div class="row">
        <div class="column">
            <p class="text">Nuestro producto inicial está dirigido a jóvenes y adolescentes que han reportado un sentimiento de soledad causado por la pandemia COVID-19.
                            Esto se debe a nuestra búsqueda por apoyar a otros y principalmente para ayudar a otros que han pasado por la experiencia de uno de los miembros de nuestro equipo, que está en tratamiento para la depresión y la ansiedad, siendo en realidad una de las razones decisivas. Elegimos una comunidad para ayudar a través de este programa
        </div>
        <div class="column">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/v3VqcMfhNc0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <img src="../assets/estadisticas.jpeg" class="img" alt="Estadísticas de suicidio en México">
        </div>
        <div class="column">
            <p class="othertext">Así, también nos ha conmovido la situación actual que nos ha golpeado a todos, así como las impactantes cifras, de las cuales, según el INEGI (Instituto Nacional de Estadística y Geografía), el 27.6 por ciento de los suicidios registrados en 2019 en México ocurrieron en México. Yucatán y 21.3 por ciento en Campeche, sumando así el 48.9% de los suicidios registrados en México ese mismo año, el total es de 3,532 de 7,223. Según la encuesta INEGI sobre miembros del hogar de 12 años y más con sentimientos de depresión, más del 32,5 por ciento ha sentido este tipo de sentimiento. Hemos realizado encuestas para conocer mejor nuestra comunidad y 11 de 59 jóvenes han sido diagnosticados con depresión y / o ansiedad.</p>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <a href="https://www.inegi.org.mx/temas/salud/" class="boton" target="blank_">Ver estadísticas</a>
        </div>
        <div class="column"></div>
    </div>
    
    <!-- Ejemplo Api -->
    <script src="../menu"></script>
   
</body>
</html>